In [1]:
import pandas as pd 
import requests 
from pprint import pprint
from config import api_key
import json

## Covid CSV Data Import and Clean

In [10]:
file = r"Resources\us_counties_covid19_daily.csv"
covid_counties = pd.read_csv(file)
covid_counties.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [13]:
# covid_counties.info()
# covid_counties.drop(columns="fips")
covid_counties.drop(columns="deaths")

              date      county       state     fips  cases
0       2020-01-21   Snohomish  Washington  53061.0      1
1       2020-01-22   Snohomish  Washington  53061.0      1
2       2020-01-23   Snohomish  Washington  53061.0      1
3       2020-01-24        Cook    Illinois  17031.0      1
4       2020-01-24   Snohomish  Washington  53061.0      1
...            ...         ...         ...      ...    ...
800432  2020-12-05  Sweetwater     Wyoming  56037.0   2098
800433  2020-12-05       Teton     Wyoming  56039.0   1739
800434  2020-12-05       Uinta     Wyoming  56041.0   1187
800435  2020-12-05    Washakie     Wyoming  56043.0    519
800436  2020-12-05      Weston     Wyoming  56045.0    419

[800437 rows x 5 columns]

In [15]:
new_covid_df = covid_counties
new_covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0